<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted">Offered fields of expertise for freelancing. Hire me for help on your project for example in these areas:</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Web Development</h4>
                <p class="text-muted">Extended experience in web development: Restful API design (Django/Python), asynchronous server side jobs (Celery/Python), JavaScript Single-Page Webapps (Vue.js) and more</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">DevOps Automation</h4>
                <p class="text-muted">Multiple years of experience on running linux based servers, applications, automating deployment and maintenance</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-plug fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">IP Networking</h4>
                <p class="text-muted">Extended knowledge of IP networking, WiFi design and internet access.</p>
            </div>
        </div>
    </div>
</section>
